version: '3.8'

services:
  shard-node-1:
    build:
      context: .
      dockerfile: docker/shard-node.Dockerfile
    ports:
      - "9001:9000"
    volumes:
      - ./data/shard1:/data

  shard-node-2:
    build:
      context: .
      dockerfile: docker/shard-node.Dockerfile
    ports:
      - "9002:9000"
    volumes:
      - ./data/shard2:/data

  shard-node-3:
    build:
      context: .
      dockerfile: docker/shard-node.Dockerfile
    ports:
      - "9003:9000"
    volumes:
      - ./data/shard3:/data

  meta-node:
    build:
      context: .
      dockerfile: docker/meta-node.Dockerfile
    ports:
      - "9010:9000"
    volumes:
      - ./data/meta:/data

  proxy:
    build:
      context: .
      dockerfile: docker/proxy.Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - shard-node-1
      - shard-node-2
      - shard-node-3
      - meta-node
